body 
{
background:#FFFFFF url(https://raw.githubusercontent.com/Saku-PetteriHyt/WWW-And-Internet/master/Images/bg.png) repeat-y; 
}

#wrap 
{
  width:700px;
  margin:0px auto 15px auto;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  color: #666666;
}

/* Header */
#header 
{
  position: relative;
  height:400px;
  width: 99%;
  no-repeat left top;
  clear: both;
}

#titlevideo
{
 position:absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);  
}

#topbar
{
  height:78px; 
  z-index: 1;
}

#topTitle
{
  float: left;
  position: fixed;
    z-index: 1;
}

/*Header Menu*/
#topmenu 
{
  color:#000000;
  display:block;
  list-style:none;
  padding:0px 0px 0px 278px;
  float: right;
  width: 415px;
  position: fixed;
  z-index: 1;
}

#topmenu li 
{
  display:inline;
}

#topmenu a
{
  display:block;
  float:left;
  height:28px;
  margin:0px 0px 0px 0px;
  text-decoration:none;
  padding:9px 15px 0px 15px;
  text-align:center;
}
#topmenu a, #topmenu a:visited, #topmenu a:active
{
  color:#FFFFFF;
}

#topmenu a:hover
{
  color:#FFFFFF;
  background-color: #FF0000;
}

/*Content*/
#content
{
  background-color: #FFFFFF;
}

#mainpage
{
  width:700px;
  float:left;
  padding:5px 5px 5px 0px;
  height: auto;
}

#mainpage p
{
  line-height:22px;
  margin:10px 0px 22px 0px;
  text-align: justify;
}

#mainpage blockquote
{
  background:#efefef;
  display:block;
  margin:5px;
  font:Georgia, "Times New Roman", Times, serif;
  font-style:italic;
}

h1, h2, h3, h4, h5
{
  color:#B32C0E;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
}

#mainpage h1
{
  font-size:24px;
  color: #F2F7F3;
}

#mainpage h2
{
  font-size:18px;
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #B52E10;
}

#mainpage h3
{
  font-size: 20px;
}

#mainpage h4
{
  font-size: 18px;
}

#mainpage h5
{
  font-size: 16px;
}

#footer
{
    display:block;
  float:left;
  height:28px;
  margin:0px 0px 0px 0px;
  text-decoration:none;
  padding:9px 15px 0px 15px;
  text-align:center;
}

table, th, td
{
   border:1px solid;
  padding: 15px;
}

th
{
  text-align: left; 
}

table#t1
{
 width: 75%;
  background-color: #f1f1c1;
  border: 1px;
}

#map
{
  margin: 0;
  padding: 0;
 height:400px;
  width: 60%;
}

#canvas
{
  border: #666 1px solid;
}

#div1 
{
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
